In [2]:
!pip install pandas

Requirement already satisfied: pandas in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd
titanic=pd.read_csv("titanicData/train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# We will start with the Data Preprocessing of the Titanic Dataset. Preprocessing steps are given below:

#     Divide the Data into two Data Frames: Categorical & Numerical

# Categorical will contain all the columns from the data set which contain Categories. The numerical will contain all the columns containing Numbers.

# We will drop the columns from both Data Frames if:
#       a. Column is not important
#       b. Column contains more than 80% Null Values

# Next, we will take care of Null Values. If null values are less than 80% in a column then we will replace it with the category having the maximum count in the column (for Categorical Columns) or with the mean of the column (for Numerical Columns)


# If a column has around 60–80% null values, and we feel that the column is important, we can create a new category replacing all the null values

# For the Numerical Columns, we will plot the box plot and see if there are any outliers. Then we will replace the outliers from the data as well.

# Let’s apply all the above approaches to the Data Set.

In [5]:
import numpy as np
titanic_cat = titanic.select_dtypes(object)
titanic_num = titanic.select_dtypes(np.number)
print(titanic_cat.head())
print(titanic_num.head())

                                                Name     Sex  \
0                            Braund, Mr. Owen Harris    male
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                             Heikkinen, Miss. Laina  female
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                           Allen, Mr. William Henry    male

             Ticket Cabin Embarked
0         A/5 21171   NaN        S
1          PC 17599   C85        C
2  STON/O2. 3101282   NaN        S
3            113803  C123        S
4            373450   NaN        S
   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [6]:
titanic_cat.drop(['Name','Ticket'], axis=1, inplace=True)
print(titanic_cat)

        Sex Cabin Embarked
0      male   NaN        S
1    female   C85        C
2    female   NaN        S
3    female  C123        S
4      male   NaN        S
..      ...   ...      ...
886    male   NaN        S
887  female   B42        S
888  female   NaN        S
889    male  C148        C
890    male   NaN        Q

[891 rows x 3 columns]

In [7]:
titanic_cat.isnull().sum()

Sex           0
Cabin       687
Embarked      2
dtype: int64

In [8]:
titanic_cat.Cabin.fillna(titanic_cat.Cabin.value_counts().idxmax(), inplace=True)

titanic_cat.Embarked.fillna(titanic_cat.Embarked.value_counts().idxmax(), inplace=True)

In [9]:
titanic_cat.isnull().sum()

Sex         0
Cabin       0
Embarked    0
dtype: int64

In [10]:
!pip install scikit-learn
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

titanic_cat=titanic_cat.apply(le.fit_transform)

Requirement already satisfied: scikit-learn in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.9.1)
Requirement already satisfied: joblib>=0.11 in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.14.6 in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (2.2.0)

In [11]:
titanic_num.Age.fillna(titanic_num.Age.mean(), inplace=True)

In [12]:
titanic_num.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [13]:
titanic_num.drop(['PassengerId'], axis=1, inplace=True)

In [14]:
titanic_num.head()

   Survived  Pclass   Age  SibSp  Parch     Fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [15]:
#concatinating the two dataframes to make it as one
titanic_final = pd.concat([titanic_cat,titanic_num],axis=1)
titanic_final.head()

   Sex  Cabin  Embarked  Survived  Pclass   Age  SibSp  Parch     Fare
0    1     47         2         0       3  22.0      1      0   7.2500
1    0     81         0         1       1  38.0      1      0  71.2833
2    0     47         2         1       3  26.0      0      0   7.9250
3    0     55         2         1       1  35.0      1      0  53.1000
4    1     47         2         0       3  35.0      0      0   8.0500

In [16]:
#splitting the data now

X = titanic_final.drop(['Survived'], axis=1)
Y = titanic_final['Survived']

In [17]:
# Taking 80% of the data as training set, and remaining 20% as our test set.

X_train = np.array(X[0:int(0.80*len(X))])
Y_train = np.array(Y[0:int(0.80*len(Y))])
X_test = np.array(X[int(0.80*len(X)):])
Y_test = np.array(Y[int(0.80*len(Y)):])

len(X_train), len(Y_train), len(X_test), len(Y_test)

(712, 712, 179, 179)

In [18]:
# applying our Supervised Learning Algorithms.

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [19]:
# initializing variables

LR = LogisticRegression()
KNN = KNeighborsClassifier()
NB = GaussianNB()
LSVM = LinearSVC()
NLSVM = SVC(kernel='rbf')
DT = DecisionTreeClassifier()
RF = RandomForestClassifier()

In [20]:
# train the model on the Training Data Set:

LR_fit = LR.fit(X_train, Y_train)
KNN_fit = KNN.fit(X_train, Y_train)
NB_fit = NB.fit(X_train, Y_train)
LSVM_fit = LSVM.fit(X_train, Y_train)
NLSVM_fit = NLSVM.fit(X_train, Y_train)
DT_fit = DT.fit(X_train, Y_train)
RF_fit = RF.fit(X_train, Y_train)

/Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [21]:
# Step 15: Now our trained models are saved in above variable. We just need to now predict on the Test Data Set and compare the accuracy scores. Let’s see how it’s done:

LR_pred = LR_fit.predict(X_test)
KNN_pred = KNN_fit.predict(X_test)
NB_pred = NB_fit.predict(X_test)
LSVM_pred = LSVM_fit.predict(X_test)
NLSVM_pred = NLSVM_fit.predict(X_test)
DT_pred = DT_fit.predict(X_test)
RF_pred = RF_fit.predict(X_test)

/Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [22]:
#printing model accuracy

from sklearn.metrics import accuracy_score

print("Logistic Regression is %f percent accurate" % (accuracy_score(LR_pred, Y_test)*100))
print("KNN is %f percent accurate" % (accuracy_score(KNN_pred, Y_test)*100))
print("Naive Bayes is %f percent accurate" % (accuracy_score(NB_pred, Y_test)*100))
print("Linear SVMs is %f percent accurate" % (accuracy_score(LSVM_pred, Y_test)*100))
print("Non Linear SVMs is %f percent accurate" % (accuracy_score(NLSVM_pred, Y_test)*100))
print("Decision Trees is %f percent accurate" % (accuracy_score(DT_pred, Y_test)*100))
print("Random Forests is %f percent accurate" % (accuracy_score(RF_pred, Y_test)*100))

Logistic Regression is 83.798883 percent accurate
KNN is 75.977654 percent accurate
Naive Bayes is 82.681564 percent accurate
Linear SVMs is 83.798883 percent accurate
Non Linear SVMs is 74.301676 percent accurate
Decision Trees is 79.888268 percent accurate
Random Forests is 84.357542 percent accurate

In [24]:
  # Modify code, we have used 80% data to train on step 11, try to modify that to 70%, and repeat step 14,15, 16, and 17.

# Taking 70% of the data as training set, and remaining 30% as our test set.

X_train = np.array(X[0:int(0.70*len(X))])
Y_train = np.array(Y[0:int(0.70*len(Y))])
X_test = np.array(X[int(0.70*len(X)):])
Y_test = np.array(Y[int(0.70*len(Y)):])

len(X_train), len(Y_train), len(X_test), len(Y_test)


from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# initializing variables

LR = LogisticRegression()
KNN = KNeighborsClassifier()
NB = GaussianNB()
LSVM = LinearSVC()
NLSVM = SVC(kernel='rbf')
DT = DecisionTreeClassifier()
RF = RandomForestClassifier()


# train the model on the Training Data Set:

LR_fit = LR.fit(X_train, Y_train)
KNN_fit = KNN.fit(X_train, Y_train)
NB_fit = NB.fit(X_train, Y_train)
LSVM_fit = LSVM.fit(X_train, Y_train)
NLSVM_fit = NLSVM.fit(X_train, Y_train)
DT_fit = DT.fit(X_train, Y_train)
RF_fit = RF.fit(X_train, Y_train)

# predicting the Test Data Set and comparing the accuracy scores.

LR_pred = LR_fit.predict(X_test)
KNN_pred = KNN_fit.predict(X_test)
NB_pred = NB_fit.predict(X_test)
LSVM_pred = LSVM_fit.predict(X_test)
NLSVM_pred = NLSVM_fit.predict(X_test)
DT_pred = DT_fit.predict(X_test)
RF_pred = RF_fit.predict(X_test)


#printing model accuracy

from sklearn.metrics import accuracy_score

print("Logistic Regression is %f percent accurate" % (accuracy_score(LR_pred, Y_test)*100))
print("KNN is %f percent accurate" % (accuracy_score(KNN_pred, Y_test)*100))
print("Naive Bayes is %f percent accurate" % (accuracy_score(NB_pred, Y_test)*100))
print("Linear SVMs is %f percent accurate" % (accuracy_score(LSVM_pred, Y_test)*100))
print("Non Linear SVMs is %f percent accurate" % (accuracy_score(NLSVM_pred, Y_test)*100))
print("Decision Trees is %f percent accurate" % (accuracy_score(DT_pred, Y_test)*100))
print("Random Forests is %f percent accurate" % (accuracy_score(RF_pred, Y_test)*100))

/Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

Logistic Regression is 81.343284 percent accurate
KNN is 74.253731 percent accurate
Naive Bayes is 80.970149 percent accurate
Linear SVMs is 80.223881 percent accurate
Non Linear SVMs is 71.268657 percent accurate
Decision Trees is 78.358209 percent accurate
Random Forests is 83.208955 percent accurate