In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/lvngwtr/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd
titanic=pd.read_csv("titanicData/train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# We will start with the Data Preprocessing of the Titanic Dataset. Preprocessing steps are given below:

#     Divide the Data into two Data Frames: Categorical & Numerical

# Categorical will contain all the columns from the data set which contain Categories. The numerical will contain all the columns containing Numbers.

# We will drop the columns from both Data Frames if:
#       a. Column is not important
#       b. Column contains more than 80% Null Values

# Next, we will take care of Null Values. If null values are less than 80% in a column then we will replace it with the category having the maximum count in the column (for Categorical Columns) or with the mean of the column (for Numerical Columns)


# If a column has around 60–80% null values, and we feel that the column is important, we can create a new category replacing all the null values

# For the Numerical Columns, we will plot the box plot and see if there are any outliers. Then we will replace the outliers from the data as well.

# Let’s apply all the above approaches to the Data Set.

In [4]:
import numpy as np
titanic_cat = titanic.select_dtypes(object)
titanic_num = titanic.select_dtypes(np.number)
print(titanic_cat.head())
print(titanic_num.head())

                                                Name     Sex  \
0                            Braund, Mr. Owen Harris    male
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                             Heikkinen, Miss. Laina  female
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                           Allen, Mr. William Henry    male

             Ticket Cabin Embarked
0         A/5 21171   NaN        S
1          PC 17599   C85        C
2  STON/O2. 3101282   NaN        S
3            113803  C123        S
4            373450   NaN        S
   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500